

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

<h1>Bienvenue, liste des EVENTS</h1>

<div class="row">
  <% @events.each do |event| %>
    <div class="col-sm-4" style="padding: 30px">
      <div class="card">
        <div class="card-header">
          <h4><%= event.title %></h4>
        </div>
        <div class="card-body">
          <p>Description : <%= event.description %></p>
          <p>Location : <%= event.location %></p>
          <p>Price : <%= event.price %></p>
          <%= link_to "Voir", event_path(event.id), class:"btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>
</div>
</div>