<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
       

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
          <ul class="nav navbar-nav navbar-right">

        <%= link_to "Home", root_path, class: 'navbar-brand' %>

            

            <% if user_signed_in? %>
              <li><%= link_to "Ajout un Event", new_event_path, class: 'navbar-brand' %></li>
                <% else %>
                    <li><%= link_to "Ajout un Event", new_user_session_path, class: 'navbar-brand' %></li>
            <% end %>


            <% if current_user %>
              <li><%= link_to 'Ton compte',edit_user_registration_path %></li>
              <li><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "S'inscrire", new_user_registration_path, class: 'nav-link' %></li>
              <li><%= link_to "Se connecter", new_user_session_path, class: 'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>


    <%= yield %>
  </body>
</html>
